:root{
    --vermelho: #e50914;
    --preta: #141414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}
header .logo{
   height: 3.6rem;
   width: 100%;
  background: black;
   border: 1px solid blue;
   display: flex;
   justify-content: space-between;
   position: fixed;
   
}


header img{
    width: 10rem;
    
}


.container{
  font-size: 1rem;
 /* background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%),url('/assets/WhatsApp\ Image\ 2021-09-02\ at\ 16.08.20.jpeg')no-repeat;
 */ 
 background: url('/assets/faixadapib.jpeg')no-repeat;
 
  background-size: cover;

  height: 50rem;
 
  

}
ul{
  list-style: none;  
}
.midias-sociais{
    display: flex;
   
    align-items: center;
    
}
.midias-sociais img{
    width: 2rem;
    margin-left: 2rem;
}

