:root{
    --vermelho: #e50914;
    --preta: #141414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
header .logo{
    margin-left: 0.38rem;
    color: var(--vermelho);
    font-family:'Arial Black', sans-serif;
    font-size: 2.5rem;
}
header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 0.6rem;
}
header nav a:hover{
    color: #fff;
}
header .logo img{
    width: 10rem;
}
.capa-principal{
  font-size: 1rem;
 /* background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%),url('/assets/WhatsApp\ Image\ 2021-09-02\ at\ 16.08.20.jpeg')no-repeat;
 */ 
 background: url('/assets/faixadapib.jpeg')no-repeat;
 
  background-size: cover;

  height: 50rem;
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  

}

.capa-principal .description{
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    
}
.capa-principal .text{
    
    margin-bottom: 2rem;
}
.title{
    margin-top: 15%;
    font-size: 2.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.button{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 1rem 2rem;
    margin-right: 1rem;
    font-size: 0.75rem;

    cursor: pointer;
    transition: 0.3s;
}
.button:hover{
    background-color: white;
        color: black;
   
}
.button i{
    margin-right: .8rem;
}

.container{
    margin-left: 20px;
}

.box-hq{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}
.carousel-hq{
    margin-top: .5rem;
}