:root {
  --vermelho: #e50914;
  --preta: #141414;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--preta);
  font-family: "Times New Roman", Times, serif;
  color: #fff;
}
header .logo {
  height: 3.6rem;
  width: 100%;
  background: black;
  border: none;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}

header img {
  width: 10rem;
}

.container {
  font-size: 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("/assets/fachadapibb2.jpeg");
  background-size: cover;

  height: 100vh;
}
ul {
  list-style: none;
}
.midias-sociais {
  display: flex;

  align-items: center;
}
.midias-sociais img {
  width: 2rem;
  margin-left: 2rem;
}

.section {
  height: 100vh;
  z-index: -1;
}
#section1 {
  position: absolute;
  top: 100%;
  height: 100vh;
  margin-top: 2.5rem;
}
#section2 {
  position: absolute;
  top: 200%;
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(rgb(47, 0, 255) 5%, rgb(0, 174, 255) 90%);
  margin-top: 1rem;
}
#section3 {
  position: absolute;
  top: 300%;
  height: 100vh;
}
#section4 {
  position: absolute;
  top: 600%;
  height: 100vh;
}
main {
  width: 95%;
  margin-left: 2rem;
}
.section h2 {
  display: flex;
  margin: 2rem 0;
  justify-content: center;
}
.topo {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
}
.about {
  display: flex;
  justify-content: space-around;
  width: 95%;
  border: 1px solid white;
  margin-left: 2rem;
}
.about img {
  width: 14rem;
}
.about p {
  margin: 1rem 2rem;
}
.arrow-up i {
  display: flex;
  justify-content: center;
  font-size: 4rem;
}

.bold {
  font-weight: 700;
  color: aquamarine;
}

.schedule {
  background-image: radial-gradient(rgb(47, 0, 255) 5%, rgb(0, 174, 255) 90%);

  margin: 0rem 2rem;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 74vh;
  border-radius: 1rem 0 0 1rem;
}
h3 {
  text-transform: uppercase;
  font-size: 2rem;
  margin-left: 4rem;
}
.times {
  font-size: 1.5rem;
  margin-left: 4rem;
}
.times-span {
  font-size: 1rem;
}
.schedule > img {
  margin-left: 4rem;
  margin-top: 0.9rem;
}
.grid-prime {
  display: flex;
}
