
  
  .menu {
    position: relative;
    background: #1e1f1d;
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
    margin: auto;
    margin-top: -38rem;
    margin-bottom: 5rem;
    
    cursor: pointer;
    border: 1rem solid #808080;
    z-index:5;
    font-size: 1.0rem;
  }
  .menu:after {
    content: "";
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 1rem;
    height: 0.2rem;
    border-top: 0.6rem double #fff;
    border-bottom: 0.2rem solid #fff;
  }
  .menu ul {
    list-style: none;
  
  }
  .menu li {
    width: 7.5rem;
    height: 2.4rem;
    padding: 0.2rem;
    margin-top: 0.5rem;
    text-align: center;
    align-items: center;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: all 1s;
    background: #808080;
   
    opacity: 0;
    z-index: -1;
  }
  .menu:hover li {
    opacity: 1;
  

  }
  /**
   * Add a pseudo element to cover the space
   * between the links. This is so the menu
   * does not lose :hover focus and disappear
   */
  .menu:hover ul::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    display: block;
    left: 50%;
    top: 5.0rem;
    /**
     * The pseudo-element is a semi-circle
     * created with CSS. Top, bottom, and right
     * borders are 6.5em (left being 0), and then
     * a border-radius is added to the two corners
     * on the right.
     */
    border-width: 6.5rem;
    border-radius: 0 7.5rem 7.5rem 0;
    border-left: 0;
    border-style: solid;
    /**
     * Have to have a border color for the border
     * to be hoverable. I'm using a very light one
     * so that it looks invisible.
     */
    border-color: rgba(0,0,0,0.01);
    /**
     * Put the psuedo-element behind the links
     * (So they can be clicked on)
     */
    z-index: -1;
    /**
     * Make the cursor default so it looks like
     * nothing is there
     */
    cursor: default;
  }
  .menu a {
    color: white;
    text-decoration: none;
    /**
     * This is to vertically center the text on the
     * little tab-like things that the text is on.
     */
    line-height: 1.5rem;
    color: #1e1f1d;
  }
  .menu a:hover{
    color: #f5f8f2;
    z-index: 10;
  }
  
  .menu ul {
    transform: rotate(180deg) translateY(-2rem);
    transition: 1s all;
  }
  .menu:hover ul {
    transform: rotate(0deg) translateY(-1rem);
  }
  .menu li:hover {
    background: #1e1f1d;
    
  }

  /*about us*/
  .menu li:nth-of-type(1) {
    
    width: 4.9rem;
    transform: rotate(-90deg);
    position: absolute;
    left: -1.9rem;
    top: -3.6rem;
  }
  /*Schedule*/
  .menu li:nth-of-type(2) {
    transform: rotate(0deg);
    position: absolute;
    left: 0.5rem;
    top: 0.rem;
   
  }
  /*ministry*/
  .menu li:nth-of-type(3) {
    width: 10.9rem;
  
    transform: rotate(90deg);
    position: absolute;
    left: -4.89rem;
    top: 6.6rem;
   
  }
  /*donate*/
  .menu li:nth-of-type(4) {
    transform: rotate(180deg);
    position: absolute;
    right: 0.52rem;
    top: 0rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    
transform: scale(1, 1);
  }
  

  .hint {
    text-align: center;
  }